/*nav*/
nav {
    background: linear-gradient(90deg, gray, #3c3a3a);
    color: rgb(19, 19, 138);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 98.6%;

}

nav h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav div {
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*main page*/

body {
    font-family:' Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top; 
    padding: 10px;
    overflow: visible;
}

aside {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    overflow: visible;
}
main {
    padding: 20px;

}

/*music sheet*/

.music-sheet {
    position: relative;
    width: calc(100% - 30px); 
    padding: 7px;
    margin: 15px;
    height: 100px;

}

.staff {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.music-sheet .staff:nth-child(1) { top: 10%; }
.music-sheet .staff:nth-child(2) { top: 30%; }
.music-sheet .staff:nth-child(3) { top: 50%; }
.music-sheet .staff:nth-child(4) { top: 70%; }
.music-sheet .staff:nth-child(5) { top: 90%; }

.vertical-line {
    position: absolute;
    top: 11px;
    bottom: 0;
    height: 94px;
    width: 2px;
    background-color: black;
}

.line0 {
    left: 0.5%;
}

.line1 {
    left: 25%;
}

.line2 {
    left: 50%;
}

.line3 {
    left: 75%;
}

.line4 {
    left: 100.5%; 
}

#musicStyle {
    margin-left: 50%;
    margin-top: 10px;
    cursor: pointer;
}

#HHcontainer, #SnareContainer, #BassContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 20px; 
}

#Tom1container,#Tom2container, #Snare1Container, #FloorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: -20px; 
}

.HH, .Snare, .Bass ,.Tom1 ,.Tom2,.Snare1,.floor {
    font-size: 20px; 
    padding: 10px; 
    width:37px; 
    margin: 5px; 
    display: flex;
    visibility: hidden; 
}
#HHcontainer .HH {
    margin-top: -24px; 
}

#SnareContainer .Snare {
    margin-top: -22px; 
}

#BassContainer .Bass {
    margin-top:-22px; 
}

#Tom1container .Tom1 {
    margin-top: -5px; 
}

#Tom2container .Tom2 {
    margin-top: -16px; 
}

#Snare1Container .Snare1 {
    margin-top: -14px; 
}

#FloorContainer .floor {
    margin-top: -5px; 
}

/*buttons*/

button {
    position: absolute;     
    left: 573px;
    width: 150px; 
    height: 65px;
    border: 1px solid gray;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

}
.beginner{
    top: 110px;
}
.advance{
    top: 185px;
}
.Expert{
    top: 260px;
}
.clear{
    top: 335px;
}
button:hover {
    background-color: #2980b9;
}

/*images*/

#gitarImg , #drumsImg ,#playDrumsImg{

    height: 220px;
    width: 250px;
    margin-top: -45px;
    margin-left :150px;
    background-color: #fff;
}
#gitarImg:hover, #drumsImg:hover, #playDrumsImg:hover {
    transform: scale(1.05);
}

/*fotter*/

footer {
    background: linear-gradient(90deg, gray, #3c3a3a);
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 98.6%;

}

footer p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

footer div {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#email {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

