.music-sheet {
    position: relative;
    width: calc(100% - 30px); 
    padding: 7px;
    margin: 15px;
    background-color: #ffffff2b;
    height: 100px;
}

.music-sheet {
    margin: 10px; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav div {
    margin-top: 5px;
    font-size: 16px;
}


main {
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}


td {
    vertical-align: top; 
    padding: 10px;
    overflow: visible;
}

aside {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    overflow: visible;
}
button {
    position: absolute;     
    left: 570px;
    width: 150px; 
    height: 65px;
    border: 1px solid gray;
    background-color: #f1c40f;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
}
.beginner{
    top: 110px;
}
.advance{
    top: 185px;
}
.Expert{
    top: 260px;
}
.clear{
    top: 340px;
}
button:hover {
    background-color: #f39c12;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer div {
    margin-top: 5px;
}

#email {
    font-weight: bold;
}

.staff {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
}

.music-sheet .staff:nth-child(1) { top: 10%; }
.music-sheet .staff:nth-child(2) { top: 30%; }
.music-sheet .staff:nth-child(3) { top: 50%; }
.music-sheet .staff:nth-child(4) { top: 70%; }
.music-sheet .staff:nth-child(5) { top: 90%; }

.vertical-line {
    position: absolute;
    top: 11px;
    bottom: 0;
    height: 94px;
    width: 2px;
    background-color: black;
}

.line0 {
    left: 0.5%;
}

.line1 {
    left: 25%;
}

.line2 {
    left: 50%;
}

.line3 {
    left: 75%;
}

.line4 {
    left: 100.5%; 
}

#musicStyle {
    margin-left: 50%;
    margin-top: 10px;
    cursor: pointer;
}

#email {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#gitarImg , #drumsImg ,#playDrumsImg{

    height: 200px;
    width: 200px;
    margin-top: -20px;
    margin-left :200px;
    background-color: #fff;
}
#gitarImg:hover, #drumsImg:hover, #playDrumsImg:hover {
    transform: scale(1.1);
}

#HHcontainer, #SnareContainer, #BassContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: 20px; 
}

#Tom1container,#Tom2container, #Snare1Container, #FloorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-bottom: -20px; 
}

.HH, .Snare, .Bass ,.Tom1 ,.Tom2,.Snare1,.floor {
    font-size: 20px; 
    padding: 10px; 
    width:37px; 
    margin: 5px; 
    display: flex;
    visibility: hidden; 
}
#HHcontainer .HH {
    margin-top: -24px; 
}

#SnareContainer .Snare {
    margin-top: -22px; 
}

#BassContainer .Bass {
    margin-top:-22px; 
}


#Tom1container .Tom1 {
    margin-top: -5px; 
}

#Tom2container .Tom2 {
    margin-top: -16px; 
}

#Snare1Container .Snare1 {
    margin-top: -14px; 
}

#FloorContainer .floor {
    margin-top: -5px; 
}

